.dropdown {
    display: inline-block;
    position: relative;
    border-radius: 5px;
}
.dropdown button {
    background-color: var(--Neutral800);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: var(--Neutral0);
    cursor: pointer;
}

.dropdown label {
    display: flex;
    padding: 10px;
}

.dropdown:hover .content {
    display: block;
}

.dropdown .content {
    display: none;
    position: absolute;
    width: 200px;
    top: 100%;
    right: 0;
    background-color: var(--Neutral800);
    border-radius: 10px;
    padding: 10px;
}

.dropdown .content h2 {
    color: var(--Neutral300);
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 15px;
}

.radio-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;
    border-radius: 10px;
    background-color: var(--Neutral800);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease;
}

.radio-text {
  font-size: 1rem;
  color: var(--Neutral0);
}

/* Esconde o radio */
.radio-card input {
  display: none;
}

/* Ícone de check */
.radio-check {
  width: 15px;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.2s ease;
}

/* Quando selecionado */
.radio-card input:checked ~ .radio-check {
  opacity: 1;
  transform: scale(1);
  background-color: var(--Neutral700);
}

/* Background + borda quando selecionado */
.radio-card input:checked ~ .radio-text,
.radio-card input:checked {
  font-weight: 600;
}

.radio-card:has(input:checked) {
  background-color: var(--Neutral700);
}

/* Hover */
.radio-card:hover {
  background-color: var(--Neutral700);
}